@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>
    Portal desenvolvido pela brigada do Code For Curitiba destinado a visualização dos dados públicos da Prefeitura Municipal de Curitiba.
</p>

<h3>Code For Curitiba</h3>
<p>
    Uma comunidade com foco em tecnologia, fomentando o ecossistema de inovação cívica para melhorar a qualidade de vida em todo o Brasil.
    <br />
    <a href="http://codeforcuritiba.org" target="_blank">Veja mais...</a>
</p>

<h3>Prefeitura Municipal de Curitiba</h3>
<p>
    Curitiba é a capital do Paraná, um dos três Estados que compõem a Região Sul do Brasil.
    <br />
    <a href="http://www.curitiba.pr.gov.br" target="_blank">Veja mais...</a>
</p>

<h3>Portal de Dados Abertos</h3>
<p>
    Como parte de uma iniciativa muito maior de transparência e cidadania participativa, o Portal de Dados Abertos e Curitiba é uma ação da Prefeitura Municipal de Curitiba de disponibilização, através da internet, de documentos, informações e dados governamentais de domínio público para a livre utilização pela sociedade, garantindo à mesma, acesso aos dados primários, de forma que possam ser reutilizados produzindo novas informações e aplicações digitais para a sociedade.
    <br />
    <a href="http://www.curitiba.pr.gov.br/dadosabertos/" target="_blank">Veja mais...</a>
</p>

<h3>CSV API</h3>
<p>
    Web services permitindo um acesso automatizado aos dados abertos CSV da Prefeitura de Curitiba.
</p>
<a href="https://github.com/CodeForCuritiba/csv_api" target="_blank">Ver mais...</a><br />
