@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Responsável:</strong>   <a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]">@System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]</a><br />
</address>